@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  overflow-x: hidden;
}

body.active {
  overflow-y: hidden;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  background-color: #fff;
  padding: 20px 36px 15px 24px;
  box-sizing: border-box;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
}

#headline {
  margin: 0 auto;
  background: #fff url(../assets/mobile.png) 0 45px no-repeat;
  border-bottom-left-radius: 80px;
  width: 375px;
  height: 700px;
}

.header {
  color: #172b4d;
  padding: 128px 24px 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

.description {
  color: #344563;
  margin: 12px 24px;
  font-size: 16px;
  line-height: 24px;
}

.connect {
  color: #7f8cff;
  margin-left: 24px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
}

.social-links {
  padding-left: 0;
  width: 160px;
  display: flex;
  list-style-type: none;
  animation: width-change 1s ease-in-out 0.5s 0.8;
  justify-content: space-between;
  margin-left: 24px;
}

.social-media-link {
  text-decoration: none;
  color: #505f79;
}

.social-media-link i:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

li {
  display: list-item;
}

#logo-natanim {
  font-size: 18px;
  color: #6070ff;
  width: 76px;
  height: 20px;
  text-decoration: none;
  font-weight: 700;
}

nav {
  display: block;
}

#nav-menu {
  display: none;
}

#mobile-navbar {
  transition: all 0.3s ease-in-out;
  background-color: transparent;
}

#mobile-nav-menu {
  display: none;
}

#mobile-navbar.active {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(96, 112, 255, 0.9);
  z-index: 1;
}

#mobile-navbar.active #mobile-nav-menu {
  gap: 20px;
  justify-content: space-between;
  margin-top: 80px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

#hamb {
  display: block;
  cursor: pointer;
}

#hamb.active {
  float: right;
  margin-top: 20px;
  margin-right: 35px;
}

#headline.active {
  filter: blur(4px);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #6070ff;
}

#hamb.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: #fff;
}

#hamb.active .bar:nth-child(2) {
  opacity: 0;
}

#hamb.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: #fff;
}

.mobile-nav-link a {
  text-decoration: none;
  color: #6070ff;
  font-size: 32px;
  font-weight: 600;
}

@keyframes width-change {
  from {
    width: 250px;
  }

  to {
    width: 150px;
  }
}

#work {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  justify-content: center;
  margin-top: 26px;
  width: 100vw;
}

.proj-lang {
  display: flex;
  row-gap: 5px;
  justify-content: space-between;
  width: 203px;
  flex-wrap: wrap;
  margin: 12px 108px 0 16px;
  padding: 0;
  align-content: space-between;
  list-style-type: none;
}

.proj-description {
  width: 295px;
  color: #344563;
  font-size: 15px;
  line-height: 24px;
  height: 76px;
  margin: 20px 16px 0;
}

.lang {
  color: #6070ff;
  padding: 4px 12px;
  font-size: 12px;
  line-height: 16px;
  margin-top: 10px;
  background-color: #ebebff;
  border-radius: 9px;
}

#skills-container ul {
  padding-left: 0;
}

#skills-container li:nth-of-type(1) {
  border-bottom: none;
  padding-bottom: 0;
}

#skills-container li:nth-of-type(2) {
  list-style-type: none;
}

.skill-lang {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px 0;
  padding-left: 0;
}

.skill-lang .lang {
  width: 300px;
  height: 70px;
  align-items: center;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  color: #253858;
  box-sizing: border-box;
  background-color: #f7f7f9;
  border-radius: 8px;
  margin-top: 12px;
  list-style-type: none;
}

.lang-logo {
  margin-right: 16px;
}

#skills-container {
  display: flex;
  margin-top: 48px;
  flex-direction: column;
  align-items: center;
}

.skill {
  width: 325px;
  list-style-type: none;
  font-size: 21px;
  font-weight: 450;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dfe1e6;
  box-sizing: border-box;
  cursor: pointer;
  padding: 23px 42px 23px 12px;
}

.enabled-btn {
  cursor: pointer;
  font-family: inherit;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: #fff;
  border: 1px solid #7f8cfa;
  border-radius: 8px;
  box-sizing: border-box;
  align-self: flex-start;
  margin: 24px 0 0 16px;
  padding: 12px;
  transition: background-color 0.5s, color 0.5s;
}

.enabled-btn:hover {
  background-color: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.enabled-btn:active {
  background-color: #131b6e;
  color: #fff;
}

.enabled-btn:disabled {
  cursor: default;
  background-color: #fff;
  color: #46505f;
  border: 1px solid #46505f;
}

.proj-type,
.proj-year {
  color: #7a869a;
}

.proj-company {
  margin-left: 23px;
  color: #344563;
}

.proj-title {
  width: 295px;
  line-height: 44px;
  color: #172b4d;
  font-weight: 700;
  font-size: 32px;
  margin: 0 16px;
}

#about {
  width: 100vw;
  border-top-right-radius: 80px;
  margin: 114px 0 0;
  padding-bottom: 100px;
  background: #FFFFFF;
}

#about .header {
  margin-top: 0;
  padding-top: 114px;
}

.project {
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  margin: 88px 24px 0;
  padding-bottom: 15px;
  border: 2px solid #dfe1e6;
  border-radius: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s ease-in-out;
}

.project-picture {
  width: 295px;
  height: 220px;
  border-radius: 8px;
  object-fit: cover;
  margin: 16px 16px 12px;
}
#contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #6070ff url(../assets/contac-form-shapes-mobile.png);
  margin: 10px auto;
  color: #fff;
  margin-top: 70px;
  border-top-left-radius: 80px;
  width: 375px;
  height: 750px;
}

.form-inputs {
  margin: 18px 24px 0 24px;
  border: 1px solid #cfd8dc;
  color: #172b4d;
  border-radius: 8px;
  height: 48px;
}

input::placeholder {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  padding-left: 16px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #172b4d;
}

textarea::placeholder {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  padding-top: 15px;
  padding-left: 16px;
}

#form-message-input {
  width: 327px;
  height: 170px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

#contacts-header {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 44px;
  color: #fff;
  margin-top: 95px;
  margin-bottom: 6px;
  align-self: center;
}

#contacts .description p {
  color: #ebebff;
  font-style: normal;
  font-weight: 350;
  font-size: 15px;
  text-align: center;
  line-height: 28px;
}

#form-wrapper {
  margin-top: 20px;
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 740px) {
  body {
    width: 100vw;
  }

  .header {
    width: 100%;
    background-color: #ffffff;
  }

  #headline {
    width: 100vw;
    height: 916px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff url(../assets/desktop.png) 100% 118px no-repeat;
    border-bottom-left-radius: 150px;
  }

  #mobile-navbar {
    display: none;
  }

 #logo-natanim {
   margin-left: 150px;
   transition: transform 0.4s ease-in-out;
 }

 #logo-natanim:hover {
   transform: scale(1.3);
 }

 #nav-menu {
   width: 235px;
   display: flex;
   justify-content: space-between;
   margin-right: 164px;
 }

 .nav-link {
   list-style-type: none;
   font-size: 15px;
   font-weight: 500;
 }

 .nav-link a {
   text-decoration: none;
   color: #344563;
   padding-bottom: 5px;
   transition: all 0.3s ease-in-out;
 }

 .nav-link a:hover {
   color: #6070ff;
 }

 .nav-link a::after {
   display: block;
   content: '';
   border-bottom: solid 3px #6070ff;
   transform: scaleX(0);
   transition: transform 0.3s ease-in-out;
 }

 .nav-link a:hover::after {
   transform: scaleX(1);
 }

 .skill-lang .lang {
   width: 303px;
   height: 67px;
   display: flex;
   align-items: center;
   list-style-type: none;
   background-color: #f7f7f9;
   border-radius: 8px;
   font-size: 15px;
   font-weight: 500;
   color: #253858;
   box-sizing: border-box;
   margin-top: 12px;
 }

 #headline-content {
   width: 63.8%;
   margin-top: 238px;
 }

 #headline .header {
   font-size: 48px;
   line-height: 60px;
   margin-top: 0;
 }

 .description {
   font-size: 20px;
   line-height: 28px;
 }

 #work {
   align-items: center;
 }

 .project {
   width: 1156px;
   height: auto;
   display: flex;
   flex-direction: row;
   margin-left: 142px;
   margin-right: 142px;
   padding: 24px;
 }

 .proj-picture-2 {
  flex-direction: row-reverse;
 }

 .project-picture {
   width: 544px;
   height: 448px;
   margin: 0;
 }

 .proj-div {
   width: 45%;
   box-sizing: border-box;
   margin: 0px 46px 0;
 }

 .proj-title {
   width: 496px;
   font-size: 40px;
 }

 .proj-info {
   width: 100%;
   font-size: 18px;
   justify-content: flex-start;
 }

 .proj-description {
   font-size: 16px;
   line-height: 24px;
 }

 #about {
   display: flex;
   width: 100vw;
   border-top-right-radius: 150px;
 }

 #intro {
   width: 31%;
   margin: 10% 0 0 10%;
 }

 #intro .header {
   line-height: 52px;
   font-size: 40px;
   padding-top: 0;
 }

 #intro .description {
   margin: 0;
   padding: 12px 0 12px 24px;
   line-height: 24px;
   width: 100%;
   font-size: 16px;
   box-sizing: border-box;
 }

 .connect {
   margin-top: 40px;
   font-size: 16px;
 }

 #intro .connect {
   margin-top: 12px;
 }

 #intro .social-links {
   margin-bottom: 0;
 }

 #intro .enabled-btn {
   margin-top: 34px;
 }

 .skill {
   width: 100%;
   padding-left: 20px;
 }

 #skills-container {
  margin-left: 200px;
  margin-top: 100px;
 }

 #skills-container ul {
   width: 100%;
 }

 .skill-lang .lang img {
   margin-bottom: 16px;
   margin-right: 0;
 }

 .proj-lang {
  width: 350px;
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
 }

 .lang {
  margin-top: 10px;
  margin-left: 3px;
 }

 #contacts {
  background:#6070ff url(../assets/contact-form-background-shape-desktop.png) no-repeat;
  display: flex;
  width: 100vw;
  margin-top: 0%;
  border-top-left-radius: 200px;
 }

 #contacts .description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: #ebebff;
  width: 569px;
  height: 102px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

.form-inputs {
  width: 450px;
}

textarea {
  resize: none;
}

#form-message-input {
  width: 450px;
  height: 170px;
}

#form-button {
  width: 142px;
  height: 48px;
  align-self: center;
}



}